<mat-card class="bo-centered bo-marginTop5perc">
  <div class="bo-card-header-cols">
    <mat-card-header>
      <mat-card-title> Widgets </mat-card-title>
    </mat-card-header>
    <div>
    <mat-form-field>
      <mat-label>Select an option</mat-label>
      <mat-select [(value)]="selected">
        <mat-option value="0">Html</mat-option>
        <mat-option value="1">Product</mat-option>
      </mat-select>
    </mat-form-field>
    <button mat-mini-fab color="primary" (click)="addWidget()">
      <mat-icon>add_circle</mat-icon>
    </button>
  </div>
  </div>
  <mat-card-content>
    <table mat-table [dataSource]="dataSource" class="bo-fullSize">

      <!--- Note that these columns can be defined in any order.
                    The actual rendered columns are set as a property on the row definition" -->

      <!-- Position Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> No. </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>

      <!-- Url Column -->
      <ng-container matColumnDef="type">
        <th mat-header-cell *matHeaderCellDef> Type </th>
        <td mat-cell *matCellDef="let element"> {{widgetTypes[element.widgetType]}} </td>
      </ng-container>

      <!-- isPublished Column -->
      <ng-container matColumnDef="isPublished">
        <th mat-header-cell *matHeaderCellDef> Is Published </th>
        <td mat-cell *matCellDef="let element">
          <mat-icon *ngIf="!!element.isPublished">radio_button_checked</mat-icon>
          <mat-icon *ngIf="!element.isPublished">radio_button_unchecked</mat-icon>
        </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Actions </th>
        <td mat-cell *matCellDef="let element">
          <button mat-raised-button color="primary" (click)="edit(element)">
            <mat-icon>edit</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </mat-card-content>
</mat-card>
