<mat-card *ngIf="widget$ | async as widget" class="bo-halfSize bo-centered bo-marginTop5perc">
  <mat-card-header>
    <mat-card-title>Add an Html Widget</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="bo-container bo-container__center">
      <mat-form-field>
        <mat-label>Name</mat-label>
        <input matInput required [(ngModel)]="widget.name">
      </mat-form-field>

      <mat-label>Html Content</mat-label>
      <br />
      <angular-editor [placeholder]="'Enter text here...'" [(ngModel)]="widget.content" [config]="editorConfig"></angular-editor>
      <br />
      <div class="bo-container__actionBtns">
        <button mat-raised-button color="primary" (click)="save(widget)">Save</button>
        <button mat-raised-button (click)="cancel()">Cancel</button>
      </div>
    </div>
  </mat-card-content>
</mat-card>
