<div id="navbar-main">
  <!-- Fixed navbar -->
  <div class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="icon icon-radio-checked" style="font-size:30px; color:#1abc9c;"></span>
        </button>
        <a class="navbar-brand hidden-xs hidden-sm smoothscroll" href="#home"><span class="icon icon-radio-checked"
            style="font-size:18px; color:#1abc9c;"></span></a>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li *ngFor="let navbar of navbars$ | async">
            <a [href]="pathName + navbar.url" class="smoothscroll">{{navbar.name}}</a>
          </li>
        </ul>
      </div>
      <!--/.nav-collapse -->
    </div>
  </div>
</div>

<!-- ==== HEADERWRAP ==== -->
<div id="home"></div>
<div id="headerwrap" name="home">
  <header class="clearfix">
    <h1>DEMO</h1>
    <p>CMS Template.</p>
  </header>
</div>
<!-- /headerwrap -->

<!-- ==== GREYWRAP ==== -->
<!-- <div *ngIf="widget$ | async as widget" id="greywrap" [innerHTML]="widget.content">
</div> -->
<div *ngFor="let widget of widgets$ | async">
  <div [innerHTML]="widget.content | safeHtml">
  </div>
</div>
<!-- greywrap -->


<!-- ==== PORTFOLIO ==== -->
<div class="container" id="portfolio" name="portfolio">
  <br>
  <div class="row">
    <br>
    <h1 class="centered">Portfolio</h1>
    <hr>
    <br>
    <br>
  </div>
  <!-- /row -->
  <div class="container">
    <div class="row">
      <ng-container *ngFor="let productWidget of productWidgets$ | async">
        <!-- PORTFOLIO IMAGE 1 -->
        <div class="col-md-4 ">
          <div class="grid mask">
            <figure>
              <img class="img-responsive" [src]="productWidget.content?.imageUrl" alt="">
              <figcaption>
                <h5>{{productWidget.name}}</h5>
                <a data-toggle="modal" [href]="pathName + '#' + productWidget.id" class="btn btn-primary btn-lg">Take a
                  Look</a>
              </figcaption>
              <!-- /figcaption -->
            </figure>
            <!-- /figure -->
          </div>
          <!-- /grid-mask -->
        </div>
        <!-- /col -->


        <!-- MODAL SHOW THE PORTFOLIO IMAGE. In this demo, all links point to this modal. You should create
                    a modal for each of your projects. -->

        <div class="modal fade" [id]="productWidget.id" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
          aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">{{productWidget.name}}</h4>
              </div>
              <div class="modal-body">
                <p><img class="img-responsive" [src]="productWidget.content?.imageUrl" alt=""></p>
                <p>{{productWidget.content?.description}}</p>
                <p><b><a [href]="productWidget.content?.link">Visit Site</a></b></p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
            </div>
            <!-- /.modal-content -->
          </div>
          <!-- /.modal-dialog -->
        </div>
        <!-- /.modal -->
      </ng-container>
      <!-- /row -->
      <br>
      <br>
    </div>
    <!-- /row -->
  </div>
</div>
<!-- /container -->
<div id="copyrights">
  <div class="container">
    <p>
      &copy; Copyrights Ferencz Veres
    </p>
  </div>
</div>
